---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-toml
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: ruff-format
        name: ruff-format
        entry: poetry run ruff format --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true

      - id: ruff-check
        name: ruff-check
        entry: poetry run ruff check --force-exclude
        language: system
        types_or: [python, pyi]
        require_serial: true

      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types_or: [python, pyi]
        exclude: '^tests/'
        require_serial: true
        args: ["--strict"]
